.date {
  text-transform: uppercase;
  color: var(--font-color-light-2);
  font-weight: 500;
  font-size: var(--font-size-base);
  letter-spacing: 0.1em;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.details h1 {
  font-size: var(--font-size-2);
  color: var(--font-color-light-1);
  font-weight: 600;
  letter-spacing: 0.015em;
}
