.home {
  min-height: 100vh;
}

.homeContent {
  margin-top: 10rem;
  width: 100%;
}

.heading {
  font-size: var(--font-size-7);
  font-weight: 700;
  letter-spacing: -0.015em;
}

.subHeading {
  font-size: var(--font-size-4);
  font-weight: 500;
  color: var(--font-color-light-1);
  letter-spacing: -0.005em;
}

.description {
  margin: 3rem 0 6rem 0;
  font-size: var(--font-size-2);
  color: var(--font-color-light-2);
  line-height: 120%;
  letter-spacing: 0.015em;
}

.cta {
  display: flex;
  column-gap: 3rem;
  align-items: center;
}

.ctaOR {
  height: 6rem;
  width: 0.15rem;
  background-color: var(--font-color-light-3);
}

.ctaItem:link,
.ctaItem:visited {
  font-size: var(--font-size-2);
  color: var(--color-white);
  transition: all 0.3s;
  letter-spacing: 0.015em;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem 0 rgba(var(--color-box-shadow), 0.2);
  transition: all 0.4s;
}

.ctaItem:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 2.5rem 0 rgba(var(--color-box-shadow), 0.3);
}

.ctaItem:active {
  transform: translateY(0rem);
  box-shadow: 0 1rem 2rem 0 rgba(var(--color-box-shadow), 0.2);
}

.ctaItem::first-letter {
  text-transform: uppercase;
}

.ctaItem.projects {
  background-color: var(--color-cta-primary);
}

.ctaItem.things {
  background-color: var(--color-cta-secondary);
}

@media only screen and (min-width: 62em) {
  .homeContent {
    width: 80%;
  }
}

@media only screen and (min-width: 75em) {
  .homeContent {
    width: 75%;
  }
}
