.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.homeContent {
  width: 100%;
}

.heading {
  font-size: var(--font-size-6);
  font-weight: 700;
  letter-spacing: -0.015em;
  display: flex;
  flex-direction: column;
}

.headingHi {
  font-size: var(--font-size-2);
}

.headingName {
  font-size: var(--font-size-5);
}

.subHeading {
  font-size: var(--font-size-3);
  font-weight: 500;
  color: var(--font-color-light-1);
  letter-spacing: -0.005em;
}

.description {
  margin: 3rem 0 6rem 0;
  font-size: var(--font-size-1);
  color: var(--font-color-light-2);
  line-height: 120%;
  letter-spacing: 0.015em;
}

.cta {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.ctaItem {
  font-size: var(--font-size-1);
  text-align: center;
  transition: all 0.3s;
  letter-spacing: 0.015em;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: all 0.4s;
  box-shadow: 0 1rem 2rem 0 rgba(var(--color-box-shadow), 0.1);
  text-transform: capitalize;
  cursor: pointer;
}

.ctaItem.projects {
  color: var(--color-white);
  background-color: var(--color-cta-primary);
  border: 3px solid var(--color-cta-primary);
}

.ctaItem.things {
  border: 3px solid var(--color-cta-secondary);
}

.ctaItem.projects:hover,
.ctaItem.things:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 2.5rem 0 rgba(var(--color-box-shadow), 0.25);
}

.ctaItem.projects:active,
.ctaItem.things:active {
  transform: translateY(0rem);
  box-shadow: 0 1rem 2rem 0 rgba(var(--color-box-shadow), 0.1);
}

/* Mouse scrolling down for better UX */
.scrollDown {
  display: none;
}

@media only screen and (min-width: 24.375em) {
  .headingName {
    font-size: var(--font-size-6);
  }

  .subHeading {
    font-size: var(--font-size-4);
  }
}

@media only screen and (min-width: 36em) {
  .cta {
    flex-direction: row;
    column-gap: 5rem;
  }
}

@media only screen and (min-width: 48em) {
  .heading {
    display: block;
    font-size: var(--font-size-7);
  }

  .headingHi {
    font-size: inherit;
  }

  .description {
    font-size: var(--font-size-2);
  }

  .ctaItem {
    font-size: var(--font-size-2);
  }

  .scrollDown {
    display: block;
    position: absolute;
    cursor: pointer;
    bottom: 6%;
    left: 50%;
    width: 2rem;
    height: 3rem;
    border: 2px solid var(--font-color-light-3);
    border-radius: 2.5rem;
    transform: translateX(-50%);
  }

  .scrollDown::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--font-color-light-1);
    border-radius: 100%;
    animation: upDown 1.75s infinite ease-out;
  }

  @keyframes upDown {
    0% {
      transform: translate(-50%, 0%);
    }

    25% {
      transform: translate(-50%, -0.5rem);
    }

    50% {
      transform: translate(-50%, 0.35rem);
    }

    100% {
      transform: translate(-50%, 0%);
    }
  }
}

@media only screen and (min-width: 62em) {
  .homeContent {
    width: 80%;
  }
}

@media only screen and (min-width: 75em) {
  .homeContent {
    width: 75%;
  }
}

@media only screen and (min-width: 87.5em) {
  .homeContent {
    width: 60%;
    margin-left: 15rem;
  }
}
