.form {
  max-width: 50rem;
  margin: 8rem auto 0 auto;

  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.formSubmittedFeedback {
  margin-top: -2rem;
  align-self: center;
  font-weight: 700;
  font-size: var(--font-size-base);
  color: var(--font-color-light-1);
}
