.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}

.heading {
  text-transform: uppercase;
  color: var(--font-color-light-3);
  font-weight: 500;
  font-size: var(--font-size-base);
  letter-spacing: 0.2em;
}

.subHeading {
  color: var(--font-color-light-1);
  font-weight: 700;
  font-size: var(--font-size-2);
  max-width: 80rem;
  margin: 0 auto;
}

.subHeading::first-letter {
  text-transform: uppercase;
}

.email:link {
  display: inline-block;
  font-weight: 500;
  position: relative;
  color: var(--font-color-light-3);
  transition: all 0.4s;
}

.email:link::before,
.email:link::after {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 0;
  height: 0.3rem;
}

.email:link::before {
  width: 100%;
  background-color: var(--background-color-lightgrey);
}

.email:link::after {
  width: 0%;
  transition: all 0.4s;
  background-color: currentColor;
  z-index: 1;
}

.email:link:hover {
  color: var(--font-color-light-1);
}

.email:link:hover::after {
  width: 100%;
  background-color: currentColor;
}

@media only screen and (min-width: 36em) {
  .subHeading {
    font-size: var(--font-size-3);
  }
}
