.section {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.section:last-child {
  padding-bottom: 24rem;
}

@media only screen and (min-width: 48em) {
  .section:first-child {
    padding-top: 12rem;
  }
}
