.footerConnect {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.heading {
  font-size: var(--font-size-4);
  color: var(--font-color-main);
}

@media only screen and (min-width: 62em) {
  .heading {
    font-size: var(--font-size-3);
  }
}
