:root {
  /* Colors */
  --background-color: #fff;
  --background-color-lightgrey: #ededed;

  --font-color-main: #0f141e;
  --font-color-light-1: #4c4e51;
  --font-color-light-2: #72767a;
  --font-color-light-3: #878a8e;

  --color-dominant: #475e8d;
  --color-dominant-light-1: #657eb1;
  --color-dominant-light-2: #8fa1c6;

  --color-white: #fff;
  /* Cta */
  --color-cta-primary: #475e8d;
  --color-cta-secondary: #8fa1c6;

  /* NavLink */
  --color-nav-link-desktop: #878a8e;
  --color-nav-link-hover-desktop: #0f141e;
  --color-nav-link-mobile: #878a8e;
  --color-nav-link-hover-mobile: #fff;

  /* Box Shadow */
  --color-box-shadow: 25, 20, 30;

  /* Project Item */
  --color-project-item-light: #ededed;
  --color-project-item-light-footer-divider: #dcdcdc;
  --color-project-item-light-font-color-main: #0f141e;
  --color-project-item-light-font-color-light-1: #72767a;
  --color-project-item-dark: #555555;
  --color-project-item-dark-font-color-main: #fff;
  --color-project-item-dark-font-color-light-1: #c8c8c8;
  --color-project-item-dark-footer-divier: #666666;
  --color-project-item-new-outer-border: #dbdbdb;

  /* Input */
  --color-input-border-bottom: #cbcbcb;
  --color-input-feedback-exclamation-mark: #a4161a;

  /* Preloader */
  --background-color-preloader: #0f141e;

  /* Font-size */
  --font-size-xs: 1.2rem;
  --font-size-base: 1.6rem;
  --font-size-1: 2rem;
  --font-size-2: 2.5rem;
  --font-size-3: 3.1rem;
  --font-size-4: 3.9rem;
  --font-size-5: 4.9rem;
  --font-size-6: 6.1rem;
  --font-size-7: 7.6rem;
  --font-size-8: 9.5rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-base);
  color: var(--font-color-main);
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
